<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="">
      <div class="flex jsb container">
        <a class="btn btn-pri" href="/books">List of books</a>
        <strong>Book-Store</strong>
        <a class="btn btn-pri" href="/">Home</a>
      </div>
    </header>
    <main>
      <section class="hero-Sec">
        <h1>Add new Book</h1>
      </section>
      <section class="newBook-sec sec-padding">
        <form action="/books/new" method="POST">
          <input type="text" placeholder="Enter Title" name="title" />
          <select name="author">
            <option value="demo" disabled>Select author</option>
            <% authors.forEach(author=>{ %>
            <option value="<%=author._id%>"><%= author.name %></option>
            <% }) %>
          </select>
          <textarea name="summary" id="summary" cols="30" rows="5"></textarea>
          <input type="number" placeholder="Enter Pages" name="pages" />
          <input
            type="text"
            placeholder="Enter Publication"
            name="publication"
          />
          <input
            type="text"
            placeholder="Enter Url of image"
            name="cover_image"
          />
          <select name="category">
            <option value="demo" disabled>Select category of book</option>
            <option value="fiction">Fiction</option>
            <option value="adventure">adventure</option>
            <option value="technology">technology</option>
            <option value="motivation">motivation</option>
          </select>
          <a href="#" class=""
            ><button class="btn btn-pri" type="submit">Submit</button>
          </a>
        </form>
      </section>
    </main>
  </body>
</html>