<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Articles</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Articles</h1>
    <section class="article-conatiner">
        <% articles.forEach(article => { %>
            <a href="/articles/<%= article.id %>">
                <h3><%= article.title %></h3>
        <% }) %>
            </a>
        <a href="/articles/new">
            <button>Add Articles</button>
        </a>    
    </section>

</body>
</html>