<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Blog</h1>
    <p>Welcome to my Blog</p>
    <a href="/articles">
      Articles
    </a>
  </body>
</html>
